/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop or tv
*/
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit; }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif; }


a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

/*headings*/
.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      font-size: 4.5rem; } }



.heading-sec__main {
  display: block;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative; }
  .heading-sec__main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #0062b9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px; }
    @media only screen and (max-width: 600px) {
      .heading-sec__main {
        font-size:2rem; } }

.heading-sec__sub {
  display: block;
  text-align: center;
  color: #777;
  font-size: 1rem;
  font-weight: 300;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6; }
  @media only screen and (max-width: 600px) {
    .heading-sec__sub {
      font-size: 1.8rem; } }
  .heading-sec__sub--lt {
    color: #eee; }


.main-container {
  overflow-x: hidden;
  margin: auto;
  width: 92%; }

/* creating a button visualisation*/
.btn {
  background: #0062b9;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .btn:hover {
    transform: translateY(3px); }
  .btn--bg {
    padding: 8px 7px;
    font-size: 1.2rem; }
  
/* creating a empty section space*/
.sec-pad {
  padding: 12rem 0; }
  @media only screen and (max-width: 900px) {
    .sec-pad {
      padding: 8rem 0; } }

.text-primary {
  color: #404040;
  text-align: justify;
  font-size: 1.5rem;
  width: 100%;
  line-height: 1.6; }
  @media only screen and (max-width: 600px) {
    .text-primary {
      font-size: 1rem; } }

  .text-primary a{
    color: #0062b9;
  }

main{
  max-width: 120rem;
  margin: auto;
  width: 92%;
  overflow-x: hidden; }

  
/* footer*/
.footer {
  background: #000;
  color: #fff; 
    height: auto;}

  .footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0; 
    text-transform: uppercase;}
    @media only screen and (max-width: 900px) {
      .footer__upper {
        padding: 1rem 0; } }
    @media only screen and (max-width: 600px) {
      .footer__upper {
        display: block; } }
  
  .last-updated {
    margin-top: 1rem;
    color: #eee;
    font-size: 0.8rem;
    line-height: 1; }
  
  